{% if widget_bg_image is not null and widget_bg_image is not empty and widget_bg_image_hover is not null and widget_bg_image_hover is not empty %}
  <a href="{{ enable_fregment }}" class="enableRecite" title="{{ 'Open Accessibility'|t }}" target="_self">
    <img width="120" alt="{{ 'Accessibility tools button'|t }} image" src="{{ widget_bg_image }}" id="enableReciteImg" data-hover-img="{{ widget_bg_image_hover }}" data-img="{{ widget_bg_image }}">
  </a>
{% else %}
    <a href="{{ enable_fregment }}" class="enableRecite" title="{{ 'Open Accessibility'|t }}" target="_self">{{ widget_txt|raw }}</a>
{% endif %}
